# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Environments and Secrets
.env
*.pem
*.key
auth.json

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Common temporary files
*.tmp
*.log
